.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: infinite; */

    animation: widthAnimation 3s ease-in 0 3 infinite; /*Shorthand to write multiple animations*/

    animation-name: colorAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: infinite;

    animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: infinite;

    animation: colAnimation 4s ease-in 0s 2 normal;
}
 

@keyframes fontAnimation {
    from {
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}

@keyframes colorAnimation {
    from {
        background-color: greenyellow;
    }
    to {
        background-color: blue;
    }
}

@keyframes widthAnimation {
    from {
        width: 10px;
    }
    to {
        width: 400px;
        border-radius: 15px;
    }
}

@keyframes colAnimation {
    0% {
        background-color: green;
    }
    50% {
        background-color: yellow;
    }
    80% {
        background-color: red;
    }
    100% {
        background-color: blue;
    }
}
