.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 1fr 1fr 1fr 1fr; /*Same as repeat(4, 1fr)*/
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px;
    column-gap: 20px; */
    grid-gap: 10px; /*Short hand for row-gap and column-gap*/
    /* grid-gap: 10px 20px;*/     /* Short hand for row-gap and column-gap -> row-gap 10px column-gap 20px*/
    /* justify-items: center;
    align-items: center; */
    place-items: center; /*Short hand for justify-items and align-items*/
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

.one {
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: 1/4;  /*Short hand for grid-column-start and grid-column-end*/
}

.two {
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2/4; /*Short hand for grid-row-start and grid-row-end*/
}

.three {
    /* justify-self: left;
    align-self: left; */
    place-self: left; /*Short hand for justify-self and align-self*/
}
