.face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 70px 70px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye, .right-eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right-eye {
    left: 250px;
}

.mouth:hover {
    border-radius: 0 0 800px 800px;
    height: 70px;
    transition: 2s;
    box-shadow: 2px 2px 10px darkred;
}

.face:hover {
    box-shadow: 4px 4px 10px goldenrod;
    transition: 2s;
}
